<a href="https://colab.research.google.com/github/Adrianus-Bagas/Fraud_Detection/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fraud Detection Menggunakan Metode Logistic Regression

1. Load Data dan Import Libraries

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
path="/content/drive/MyDrive/dataset/fraud_detection_bank_dataset.csv"
df = pd.read_csv(path)
df

,Unnamed: 0,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,0,9,1354,0,18,0,1,7,9,0,...,0,0,0,1,1,0,0,0,49,1
1,1,0,239,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,2,0,260,0,4,0,3,6,0,0,...,0,0,0,1,1,0,0,0,56,1
3,3,17,682,0,1,0,0,8,17,0,...,0,1,0,1,1,0,0,0,65,1
4,4,1,540,0,2,0,1,7,1,0,...,0,0,0,1,1,0,0,0,175,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20463,20463,0,88,0,0,0,2,-1,0,0,...,0,1,0,0,0,0,1,0,85,0
20464,20464,0,134,0,2,0,0,6,0,0,...,0,0,0,0,0,0,0,0,7,0
20465,20465,4,393,1,1,0,0,-1,4,0,...,0,1,0,0,0,0,0,0,45,0
20466,20466,0,10,0,1,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,5,0
20467,20467,4,399,0,3,0,1,7,4,0,...,0,1,0,1,1,0,0,0,72,0

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

2. Praproses Data

In [4]:
#Membagi Data
X = df.iloc[:,1:-1].values
Y = df.iloc[:,-1].values

In [5]:
#Normalisasi Data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [6]:
#Split Train dan Test Data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=10)

3. Model Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

4. Hasil

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [9]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(Y_test,y_pred)
precision = precision_score(Y_test,y_pred)
recall = recall_score(Y_test,y_pred)
f1 = f1_score(Y_test,y_pred)

In [10]:
print("Accuracy :",accuracy)
print("Precision :",precision)
print("Recall :",recall)
print("F1 Score :",f1)

Accuracy : 0.865657059110894
Precision : 0.908675799086758
Recall : 0.5492180312787488
F1 Score : 0.6846330275229358

5. Dengan Reduksi Dimensi Menggunakan PCA

In [11]:
from sklearn.decomposition import PCA
pca = PCA(n_components=11)
principalComponents = pca.fit_transform(X)
principalDf = pd.DataFrame(data = principalComponents,columns = ['pc 1','pc 2','pc 3','pc 4','pc 5','pc 6','pc 7','pc 8','pc 9','pc 10','pc 11'])
principalDf

,pc 1,pc 2,pc 3,pc 4,pc 5,pc 6,pc 7,pc 8,pc 9,pc 10,pc 11
0,1.834190,-0.068949,-0.407589,-0.127328,0.444872,0.286938,-0.011622,-0.036337,0.138176,-0.395941,0.083872
1,-0.265825,-0.705273,0.750927,-0.065106,0.029569,-0.885030,0.243115,-0.200618,-0.146094,-0.276642,-0.297512
2,1.180012,1.128104,-0.575953,0.245238,0.147491,0.214434,-0.059118,-0.259421,0.021480,0.470256,-0.214342
3,1.068206,-0.085166,0.551787,-0.454032,-0.788727,-0.269161,-0.605807,-0.268652,0.037256,-0.208501,-0.021609
4,1.337156,-0.136497,-0.282230,0.101120,-0.889841,0.269443,0.371601,-0.292151,-0.062640,-0.069036,0.319716
...,...,...,...,...,...,...,...,...,...,...,...
20463,-0.521427,-0.075591,0.600812,-0.030797,-0.072421,-0.045973,-0.316102,0.401006,0.253048,0.062617,-0.235921
20464,-0.610074,-0.124331,-0.245334,-0.408543,-0.115263,0.101191,-0.022594,0.366138,0.250858,0.131840,0.035613
20465,-0.269215,-0.765625,0.561003,-0.082062,-0.108858,-0.119436,-0.471218,-0.101784,-0.107230,-0.027407,0.020120
20466,-0.806868,0.508256,-0.351518,-0.167566,0.250764,-0.766905,0.339965,-0.232165,-0.076147,0.078444,0.056765
20467,1.455007,-0.239722,0.347870,0.352887,0.644858,0.075537,-0.478633,0.451495,-0.507282,-0.370755,0.122447

In [12]:
finalDf = pd.concat([principalDf, df[['targets']]], axis = 1)
finalDf

,pc 1,pc 2,pc 3,pc 4,pc 5,pc 6,pc 7,pc 8,pc 9,pc 10,pc 11,targets
0,1.834190,-0.068949,-0.407589,-0.127328,0.444872,0.286938,-0.011622,-0.036337,0.138176,-0.395941,0.083872,1
1,-0.265825,-0.705273,0.750927,-0.065106,0.029569,-0.885030,0.243115,-0.200618,-0.146094,-0.276642,-0.297512,1
2,1.180012,1.128104,-0.575953,0.245238,0.147491,0.214434,-0.059118,-0.259421,0.021480,0.470256,-0.214342,1
3,1.068206,-0.085166,0.551787,-0.454032,-0.788727,-0.269161,-0.605807,-0.268652,0.037256,-0.208501,-0.021609,1
4,1.337156,-0.136497,-0.282230,0.101120,-0.889841,0.269443,0.371601,-0.292151,-0.062640,-0.069036,0.319716,1
...,...,...,...,...,...,...,...,...,...,...,...,...
20463,-0.521427,-0.075591,0.600812,-0.030797,-0.072421,-0.045973,-0.316102,0.401006,0.253048,0.062617,-0.235921,0
20464,-0.610074,-0.124331,-0.245334,-0.408543,-0.115263,0.101191,-0.022594,0.366138,0.250858,0.131840,0.035613,0
20465,-0.269215,-0.765625,0.561003,-0.082062,-0.108858,-0.119436,-0.471218,-0.101784,-0.107230,-0.027407,0.020120,0
20466,-0.806868,0.508256,-0.351518,-0.167566,0.250764,-0.766905,0.339965,-0.232165,-0.076147,0.078444,0.056765,0
20467,1.455007,-0.239722,0.347870,0.352887,0.644858,0.075537,-0.478633,0.451495,-0.507282,-0.370755,0.122447,0

In [14]:
#Split Train dan Test Data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(principalDf, df[['targets']], test_size = 0.2, random_state=10)

#Model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(X_train, Y_train)

#Hasil
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
y_pred = model.predict(X_test)
accuracy = accuracy_score(Y_test,y_pred)
precision = precision_score(Y_test,y_pred)
recall = recall_score(Y_test,y_pred)
f1 = f1_score(Y_test,y_pred)
print("Accuracy :",accuracy)
print("Precision :",precision)
print("Recall :",recall)
print("F1 Score :",f1)

Accuracy : 0.8434294088910601
Precision : 0.8692052980132451
Recall : 0.48298068077276907
F1 Score : 0.6209343583678297

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)